:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: var(--background-alternate);
    transition: 0.2s;
}

/* ID selectors */
#content-container {
    flex-grow: 1;
    max-width: 1000px !important;
    display: flex;
    flex-direction: column;
    margin-left: max(100px, calc(50% - 500px)) !important;
    margin-right: max(100px, calc(50% - 500px)) !important;
    padding-top: 20px;
}

#username-change-container {
    display: flex;
    column-gap: 15px;
}

/* Class selectors */
.dropdown-container {
    width: 324px;
    cursor: pointer;
    position: relative;
}

.dropdown-initiator {
    padding: 12px;
    font-size: 15px;
    font-family: "Montserrat";
    border-radius: 10px;
    border: 1px solid var(--border);
    color: var(--text);
    transition: 0.2s;
}

.dropdown-initiator:focus + .dropdown, .dropdown:active {
    opacity: 1;
    top: 60px;
    z-index: 0;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 50px;
    cursor: default;
    width: 100%;
    opacity: 0;
    z-index: -1;
    transition: 0.2s;
}

.dropdown-item {
    padding: 12px;
    font-size: 15px;
    font-family: "Montserrat";
    border-radius: 10px;
    border: 1px solid var(--border);
    color: var(--text);
    background: var(--background);
    transition: 0.2s;
}

.dropdown-item:hover {
    background: var(--border);
}

.dropdown-item:first-child {
    border-radius: 10px 10px 0 0;
}

.dropdown-item:last-child {
    border-radius: 0 0 10px 10px;
    border-top: none;
}