<app-page-title-container [title]="'Settings'"></app-page-title-container>

<div id="content-container">

    <div class="section-container">
        <h2>Username</h2>
        <p>Change your Authivo username.</p>

        <input #changeUsernameInput value="{{this.userData.username}}" class="form-input" style="width: 300px;">

    </div>

    <div class="section-container-footer">
        <p>Your username must be 20 characters or less.</p>

        <button class="form-button-solid" style="width: 80px;" [ngClass]="this.changingUsername ? 'form-button-solid-disabled' : ''" (click)="this.changeUsername(changeUsernameInput.value)">
            Save
            <div class="form-button-loading-svg-container" style="width: 50px; left: calc(50% - 25px); ">
                <svg width="30px" height="30px" class="rotating">
                    <circle r="10" cx="15" cy="15" style="fill: var(--button); stroke: white; stroke-width: 2px;"></circle>
                    <circle r="10" cx="15" cy="0" style="fill: var(--button); stroke-width: 2px;"></circle>
                </svg> 
            </div>
        </button>
    </div>

    <div class="section-container">
        <h2>Password</h2>

        <p>Old Password</p>
        <input #oldPasswordInput class="form-input" style="width: 300px;" type="password">

        <p>New Password</p>
        <input #changePasswordInput class="form-input" style="width: 300px;" type="password">

        <p>Confirm New Password</p>
        <input #changePasswordConfirmInput class="form-input" style="width: 300px;" type="password">

    </div>

    <div class="section-container-footer">
        <p>Your new password must be 30 characters or less.</p>

        <button class="form-button-solid" style="width: 175px;" [ngClass]="this.changingPassword ? 'form-button-solid-disabled' : ''" (click)="this.changePassword(this.oldPasswordInput.value, this.changePasswordInput.value, this.changePasswordConfirmInput.value)">
            Change Password
            <div class="form-button-loading-svg-container" style="width: 160px; left: calc(50% - 80px); ">
                <svg width="30px" height="30px" class="rotating">
                    <circle r="10" cx="15" cy="15" style="fill: var(--button); stroke: white; stroke-width: 2px;"></circle>
                    <circle r="10" cx="15" cy="0" style="fill: var(--button); stroke-width: 2px;"></circle>
                </svg> 
            </div>
        </button>
    </div>

    <div class="section-container">
        <h2>Theme</h2>
        <p>Change the theme of the website.</p>

        <div class="dropdown-container">
            <div tabindex="1" class="dropdown-initiator">{{this.activeTheme}}</div>
            <div class="dropdown">
                <div class="dropdown-item" (click)="changeTheme('Light')">Light</div>
                <div class="dropdown-item" (click)="changeTheme('Dark')">Dark</div>
            </div>
        </div>

    </div>

    <div class="section-container">
        <h2>Information</h2>

        <h4>User ID</h4>
        <p>{{this.userData.id}}</p>

        <h4>Creation Date</h4>
        <p>{{this.userData.creationDate}}</p>
    </div>

    <div style="border-color: var(--error-message)" class="section-container">

        <h2 style="color: var(--error-message)">Delete Account</h2>
        <p>Delete your account and all of your data permanently.</p>
        <button id="delete-initiate-button" (click)="this.initiateDelete()">Delete Account</button>
    </div>
</div>

<div id="background-cover" [ngClass]="this.deleting ? '' : 'hidden'">
    <div id="delete-container" style="height: 260px;">
        <a id="delete-container-close" (click)="this.deactivateDelete()">
            <svg width="20px" height="20px" viewBox="-1 -1 8 8">
                <path style="stroke: var(--primary); stroke-width: 0.5px; stroke-linecap: round;" d="M 6 6 L 0 0 M 0 6 L 6 0"></path>
            </svg>
        </a>
        <h2 style="text-align: center; margin-top: 0; margin-bottom: 10px; font-size: 30px">Delete Account</h2>
        <p style="text-align: center; margin-top: 0; margin-bottom: 30px;">Are you sure you want to delete your account? All your data will be lost. This action is irreversible.</p>
        <input #confirmAccountDeleteInput class="form-input" placeholder="Enter your username to continue">
        <button id="delete-initiate-button" (click)="this.delete(this.confirmAccountDeleteInput.value)" style="margin-top: 20px;">Confirm Deletion</button>
    </div>
</div>