:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* ID Selectors */
#content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#authenticate-background-container {
    position: absolute;
    left: calc(50% - 500px);
    margin-bottom: -700px; 
    z-index: -1; 
    filter: blur(70px);
    opacity: 0.5;
}

#error-message-container {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 270px;
}

#form-title {
    font-size: 35px;
    font-family: "Montserrat";
    font-weight: 600;
    color: var(--title);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    transition: 0.2s;
}

#form-redirect-message {
    font-size: 17px;
    font-family: "Montserrat";
    font-weight: 600;
    color: var(--text);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 35px;
    transition: 0.2s;
}

#form-subtitle {
    font-size: 15px;
    font-family: "Montserrat";
    color: var(--text);
    margin-top: 5px;
    text-align: center;
    margin-bottom: 40px;
}

/* Class selectors */
.form-input-title {
    font-family: "Gotham Medium";
    font-size: 13px;
    color: var(--text);
    margin-bottom: 10px;
}

.show-password {
    fill: none; 
    stroke: var(--border); 
    margin-left: -30px;
    cursor: pointer;
    user-select: none;
    pointer-events: all;
}

.error-message {
    background: var(--error-message);
    border: 1px solid var(--error-message-border);
    border-radius: 10px;
    padding: 10px;
    font-family: "Gotham";
    color: rgb(255, 241, 241);    
    font-size: 14px;
    width: calc(100% - 20px);
    transition: 0.2s;
}