<div id="register-container">
    <p id="form-title">Create An Account</p>
    <p id="form-subtitle" *ngIf="!this.authService.getRedirectUri()">Complete these simple steps.</p>
    <p id="form-redirect-message" *ngIf="this.authService.getRedirectUri()">Registering for <a id="redirect-uri" href="{{this.authService.getRedirectUri()}}">{{this.authService.getRedirectUri()}}</a></p>

    <p class="form-input-title">Username</p>
    <input #username class="form-input" placeholder="Your Username">

    <p class="form-input-title">Password</p>
    <div class="form-input-container">
        <input #password class="form-input" type="password" placeholder="Your Password">
        <!-- <svg class="show-password" viewBox="0 0 16 10" width="15px"><path d="M 0 5 C 5 11 11 11 16 5 C 11 -1 5 -1 0 5 M 5 5 C 5 1 11 1 11 5 C 11 9 5 9 5 5"></path></svg> -->
    </div>

    <p class="form-input-title">Confirm Password</p>
    <div class="form-input-container">
        <input #confirmPassword class="form-input" type="password" placeholder="Confirm Your Password">
        <!-- <svg class="show-password" viewBox="0 0 16 10" width="15px"><path d="M 0 5 C 5 11 11 11 16 5 C 11 -1 5 -1 0 5 M 5 5 C 5 1 11 1 11 5 C 11 9 5 9 5 5"></path></svg> -->
    </div>

    <app-button-loading [active]="this.registering" [text]="'Register'" (buttonClick)="this.register()" style="margin-top: 30px;"></app-button-loading>

    <p style="font-family: 'Gotham Medium'; color: var(--text); text-align: center; font-size: 14px; margin: 10px 0 10px 0;">OR</p>

    <a class="form-button-outline" href="/login" *ngIf="this.authService.pathMatch('/register')">Login</a>
    <a class="form-button-outline" (click)="this.authService.redirectWithParams('/auth/login')" *ngIf="this.authService.pathMatch('/auth/register')">Login</a>
</div>