/* ID selectors */
#register-container {
    width: 360px;
    height: 580px;
    margin-top: 5.5vh;
    border-radius: 20px;
    padding: 0 30px 0 30px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border: 1px solid var(--border);
    background: var(--background);
    transition: 0.2s background, 0.2s border;
    position: relative;
}

#redirect-uri {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    margin-bottom: -4px; 
    display: inline-block; 
    max-width: 100%;
}