/* ID selectors */
#login-container {
    width: 340px;
    height: 500px;
    border-radius: 20px;
    margin-top: 80px;
    padding: 0 30px 0 30px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border: 1px solid var(--border);
    background: var(--background);
    transition: 0.2s background, 0.2s border;
    position: relative;
}