<div id="page-title-container">
    <svg id="page-title-container-background" width="1200px" height="600px" viewBox="0 0 80 60">
        <path d="M 96 21 C 77 32 51 36 5 52 C 73 39 96 33 96 21" style="stroke: var(--primary); fill: var(--primary);"></path>
        <path d="M -26 52 C -16 24 39 30 69 21 C 49 44 9 28 -26 52" style="filter: blur(0px); stroke: var(--secondary); fill: var(--secondary);"></path>
        <path d="M -39 1 C -44 16 -11 49 5 54 C -7 37 -21 30 -39 1" style="filter: blur(0px); stroke: var(--primary); fill: var(--primary);"></path>
    </svg>  
    {{title}}
</div>