:host {
    flex-grow: 1;
    background: var(--background-alternate);
}

/* ID Selectors */
#content-container {
    flex-grow: 1;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin-left: max(100px, calc(50% - 500px));
    margin-right: max(100px, calc(50% - 500px));
    padding-top: 20px;
}

#application-container {
    /* margin-top: 35px; */
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    column-gap: 20px;
    row-gap: 20px;
}

#create-application-button {
    display: inline;
    align-self: flex-start;
    margin-top: -43px;
    margin-left: 320px;
    padding: 10px;
    font-family: "Montserrat";
    font-weight: 500;
    color: white;
    border-radius: 10px;
    background: var(--button);
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}

#create-application-button:hover {
    background-color: var(--button-hover);
}

/* Class selectors */
.application-placeholder {
    height: 192px;
    border-radius: 10px;
    border: 2px dashed var(--border);
    transition: 0.2s;
    background: var(--background);
}

.application {
    position: relative;
    height: 130px;
    border-radius: 10px;
    border: 1px solid var(--border);
    transition: 0.2s;
    padding: 30px;
    background: var(--background);
    cursor: pointer;
    overflow: hidden;
}

.application-strip {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: var(--primary);
}

.divider {
    width: 100%;
    margin-left: -30px;
    height: 1px;
    background: var(--border);
    margin: 20px 0 20px 0;
}

/* Element selectors */
h4 {
    font-family: "Montserrat";
    font-weight: 500;
}

h2 {
    font-size: 22px;
}

h1 {
    font-size: 35px;
}