:root {
    --primary: rgb(168, 100, 216);
    --secondary: rgb(83, 83, 187);
    --border: rgb(230, 230, 230);
    --nav-bar-button: rgb(73, 73, 73);
    --background: rgb(255, 255, 255);
    --text: rgb(96, 96, 96);
    --title: rgb(47, 47, 47);
    --button: rgb(168, 100, 216);
    --button-hover: rgb(182, 128, 222);
}

:root:has(#test:checked) {
    --border: rgb(33, 40, 54);
    --nav-bar-button: rgb(221, 221, 221);
    --background: rgb(21, 25, 34);
    --title: rgb(232, 232, 232);
    --text: rgb(177, 177, 177);
}

:root:has(#test:checked) #login-background-container {
    opacity: 0.3;
}

/* Element selectors */
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: var(--background);
    overflow-x: hidden;
    transition: 0.2s;
}

/* Fonts */
@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Gotham";
    src: url("assets/fonts/gothambook.woff");
}

@font-face {
    font-family: "Gotham Medium";
    src: url("assets/fonts/gothammedium.woff");
}

@font-face {
    font-family: "Gotham Bold";
    src: url("assets/fonts/gothambold.woff");
}

@font-face {
    font-family: "Visby Round";
    src: url("assets/fonts/VisbyRoundCF-Regular.woff");
}

@font-face {
    font-family: "Visby Round Medium";
    src: url("assets/fonts/VisbyRoundCF-Medium.woff");
}

@font-face {
    font-family: "Visby Round DemiBold";
    src: url("assets/fonts/VisbyRoundCF-DemiBold.woff");
}

@font-face {
    font-family: "Visby Round Bold";
    src: url("assets/fonts/VisbyRoundCF-Bold.woff");
}