:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* ID selectors */
#content-container {
    flex-grow: 1;
    padding-bottom: 0;
    overflow: hidden;
}

#landing-page-container {
    position: relative;
    margin-top: 120px;
    margin-left: 17%;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100vh - 430px);
    min-height: 550px;
    z-index: 100;
}

#landing-page-description-container {
    position: relative;
    width: calc(100% - 200px);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    padding: 100px;
    padding-top: 150px;
    background: var(--background);
}

#landing-page-title {
    font-weight: 600;
    font-size: 80px;
    background: linear-gradient(to right, var(--primary) 0%, var(--secondary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#landing-page-subtitle {
    margin-top: 15px;   
    line-height: 30px;
    font-size: 20px;
    width: 550px;
    background: linear-gradient(to right, var(--primary) 0%, var(--secondary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#landing-onboarding-button {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 17px;
    color: var(--button);
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    border: 2px solid var(--button);
    transition: 0.2s;
}

#landing-onboarding-button:hover {
    color: var(--button-hover);
    border: 2px solid var(--button-hover);
}

#landing-page-background-container {
    position: absolute;
    left: calc(50% - 750px);
    top: -50px;
    filter: blur(100px) opacity(50%);
    z-index: -1;
}

#landing-page-description-background-container {
    position: absolute;
    left: calc(50% - 900px);
    top: -150px;
    filter: blur(100px) opacity(50%);
    z-index: -1;
}

#landing-page-graphic {
    width: 500px;
    height: 330px;
    border-radius: 10px;
    background: var(--background);
    position: absolute;
    top: max(530px, calc(100% - 450px));
    left: calc(50% - 100px);
    overflow: hidden;
    user-select: none;
    z-index: 10;
    box-shadow: var(--box-shadow);
}

#landing-page-graphic-menubar {
    width: calc(100% - 10px);
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    column-gap: 10px;
}

#landing-page-graphic-login {
    position: relative;
    width: 200px;
    height: 40px;
    background: var(--primary);
    color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    margin-left: calc(50% - 100px);
    margin-top: 120px;
    font-family: "Montserrat";
    font-weight: 500;
}

/* Class selectors */
.landing-page-graphic-menubar-button {
    width: 10px;
    border-radius: 5px;
    height: 10px;
}

.title {
    font-size: 55px;
    background: linear-gradient(0deg, var(--primary) 0%, var(--secondary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 500;
    color: var(--text);
    line-height: 30px;
}

.red {
    background: var(--error-message);
}

.yellow {
    background: rgb(232, 182, 46);
}

.green {
    background: var(--success-message);
}

/* Exceptions */

@media only screen and (max-height: 850px) {

    #landing-page-graphic {
        top: max(550px, calc(100% - 185px)) !important;
        height: 300px;
        width: 500px;
    }

    #landing-page-description-container {
        padding-top: 200px;
    }

    #landing-page-container {
        height: calc(100vh - 200px) !important;
    }
}
