<svg id="landing-page-background-container" width="1800px" height="800px" viewBox="0 0 80 60">
    <path d="M 64 0 C 62 25 51 36 5 52 C 73 39 70 17 64 0" style="stroke: var(--primary); fill: var(--primary);"></path>
    <path d="M -26 52 C -16 24 39 30 113 34 C 49 44 9 28 -26 52" style="filter: blur(0px); stroke: var(--secondary); fill: var(--secondary);"></path>
    <path d="M -10 -3 C -15 25 -11 49 5 54 C -7 37 -6 30 -10 -3" style="filter: blur(0px); stroke: var(--primary); fill: var(--primary);"></path>
</svg>

<div id="content-container">

    <div id="landing-page-container">
        
        <h1 id="landing-page-title" style="z-index: 200;">Authentication Made Easy.</h1>
        <h3 id="landing-page-subtitle" style="z-index: 200;">A free single sign on service with a focus on ease of use and simplicity.</h3>
        <a id="landing-onboarding-button" href="/dashboard" style="z-index: 200;">Try It Today</a>

        <div id="landing-page-container-grid"></div>
        
    </div>

    <div id="landing-page-graphic-container">
        <div id="landing-page-code">
            <div id="landing-page-code-menubar">
                <div class="landing-page-code-tab">
                    <svg style="stroke: rgb(200, 100, 100);" viewBox="-1 -1 13 10">
                        <path d="M 0 4 L 4 0 M 0 4 L 4 8 M 11 4 L 7 0 M 11 4 L 7 8"></path>
                    </svg>
                    app.component.html
                </div>

                <div class="landing-page-code-tab">
                    <p style="margin: 0; font-size: 15px; color: rgb(100, 135, 200); font-weight: 600;">ts</p>
                    app.component.ts
                </div>
            </div>

            <div id="landing-page-code-main">

                <div id="landing-page-code-main-fadeout"></div>

                <div id="landing-page-code-left">
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                    <p>4</p>
                    <p>5</p>
                    <p>6</p>
                    <p>7</p>
                    <p>8</p>
                    <p>9</p>
                    <p>10</p>
                    <p>11</p>
                    <p>12</p>
                    <p>13</p>
                    <p>14</p>
                </div>

                <div id="landing-page-code-right">
                    <div class="landing-page-code-line">
                        <div class="landing-page-code-block"></div>
                        <div class="landing-page-code-block-small"></div>
                    </div>

                    <div class="landing-page-code-line">
                        <div class="landing-page-code-block-medium"></div>
                        <div class="landing-page-code-block-small"></div>
                    </div>

                    <div class="landing-page-code-line"></div>

                    <div class="landing-page-code-line">
                        <div class="landing-page-code-block"></div>
                        <div class="landing-page-code-block-medium"></div>
                    </div>

                    <div class="landing-page-code-line" style="margin-left: 50px;">
                        <div class="landing-page-code-block"></div>
                        <div class="landing-page-code-block"></div>
                    </div>

                    <div class="landing-page-code-line" style="margin-left: 90px;">
                        <div class="landing-page-code-block-medium"></div>
                        <div class="landing-page-code-block-small"></div>
                        <div class="landing-page-code-block"></div>
                        <div class="landing-page-code-block-small"></div>
                    </div>

                    <div class="landing-page-code-line" style="margin-left: 90px;">
                        <div class="landing-page-code-block"></div>
                        <div class="landing-page-code-block-medium"></div>
                        <div class="landing-page-code-block"></div>
                    </div>

                    <div class="landing-page-code-line" style="margin-left: 50px;">
                        <div class="landing-page-code-block"></div>
                        <div class="landing-page-code-block"></div>
                    </div>

                    <div class="landing-page-code-line" style="margin-left: 50px;"></div>

                    <div class="landing-page-code-line" style="margin-left: 50px;">
                        <div class="landing-page-code-block-small"></div>
                        <div class="landing-page-code-block"></div>
                    </div>

                    <div class="landing-page-code-line" style="margin-left: 90px;">
                        <div class="landing-page-code-block-medium"></div>
                        <div class="landing-page-code-block-small"></div>
                        <div class="landing-page-code-block-medium"></div>
                        <div class="landing-page-code-block"></div>
                        <div class="landing-page-code-block-small"></div>
                    </div>

                    <div class="landing-page-code-line" style="margin-left: 130px;">
                        <div class="landing-page-code-block"></div>
                        <div class="landing-page-code-block-medium"></div>
                    </div>

                    <div class="landing-page-code-line" style="margin-left: 130px;">
                        <div class="landing-page-code-block-small"></div>
                        <div class="landing-page-code-block"></div>
                        <div class="landing-page-code-block-medium"></div>
                    </div>

                    <div class="landing-page-code-line" style="margin-left: 90px;">
                        <div class="landing-page-code-block-small"></div>
                        <div class="landing-page-code-block"></div>
                        <div class="landing-page-code-block-medium"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="landing-page-example">
            <div id="landing-page-example-menubar">
                <div class="landing-page-example-menubar-button green"></div>
                <div class="landing-page-example-menubar-button yellow"></div>
                <div class="landing-page-example-menubar-button red"></div>
            </div>

            <div id="landing-page-example-login">
                Login With Authivo
            </div>

            <img style="position: absolute; right: 150px; top: 220px;" width="20px" height="21px" src="../../assets/images/cursor.png">
        </div>        
    </div>

    <div id="landing-page-description-container" style="display: flex; flex-direction: column; align-items: center;">
        <svg id="landing-page-description-background-container" width="1800px" height="800px" viewBox="0 0 60 60">
            <path d="M 64 0 C 42 24 -17 18 -39 6 C -1 40 70 17 64 0" style="stroke: var(--primary); fill: var(--primary);"></path>
            <path d="M -23 7 C -16 24 53 31 89 4 C 37 16 9 28 -23 7" style="filter: blur(0px); stroke: var(--secondary); fill: var(--secondary);"></path>
        </svg> 

        <h1 class="title" style="text-align: center; max-width: 700px;">Simple And Thorough Documentation</h1>
        
        <div id="description-blog-container">
            <svg id="description-blog-background-container" width="1800px" height="800px" viewBox="0 0 60 60">
                <path d="M 79 25 C 52 21 -17 18 -36 11 C -9 36 63 26 79 25 M -23 7 C -16 24 53 31 89 4 C 37 16 9 28 -23 7" style="stroke: var(--primary); fill: var(--primary);"></path>
                <path d="M -23 7 C -16 24 53 31 89 4 C 37 16 9 28 -23 7" style="filter: blur(0px); stroke: var(--secondary); fill: var(--secondary);"></path>
            </svg> 

            <div class="description-blog" style="margin-right: -220px;">
                <div class="description-blog-header">
                    <h4>Using Authivo With Angular</h4>
                    <div>
                        <svg style="fill: none; stroke: var(--primary);" id="app-logo" width="15px" height="15px" viewBox="0 0 22 22">
                        <path stroke-linecap="round" stroke-width="3.5" d="M 2 11 C 2 -1 20 -1 20 11 C 20 15 18 19 15 20 M 2 11 C 2 15 4 19 7 20 M 2 11 L 20 11"></path>
                        </svg>
                        <p style="margin: 0; font-family: 'Visby Round Bold'; color: var(--nav-bar-button); font-size: 15px; margin-bottom: 2px; margin-left: 5px;">authivo</p>
                    </div>
                </div>

                <div class="description-blog-content">
                    With Angular, Authivo offers the Proof of Key Code Exchange flow, the perfect authentication flow for single-page applications. 
                    The PKCE flow does not require a client secret, but instead a code verifier and code challenge to make sure that the client initiating
                    <div class="description-blog-fadeout"></div>
                </div>
            </div>

            <div class="description-blog" style="margin-top: 70px; z-index: 100; margin-right: -220px;">
                <div class="description-blog-header">
                    <h4>Supported Auth Flows</h4>
                    <div>
                        <svg style="fill: none; stroke: var(--primary);" id="app-logo" width="15px" height="15px" viewBox="0 0 22 22">
                        <path stroke-linecap="round" stroke-width="3.5" d="M 2 11 C 2 -1 20 -1 20 11 C 20 15 18 19 15 20 M 2 11 C 2 15 4 19 7 20 M 2 11 L 20 11"></path>
                        </svg>
                        <p style="margin: 0; font-family: 'Visby Round Bold'; color: var(--nav-bar-button); font-size: 15px; margin-bottom: 2px; margin-left: 5px;">authivo</p>
                    </div>
                </div>

                <div class="description-blog-content">
                    Authivo supports the PKCE (Proof of Key Code Exchange) code flow for single-page applications, and a regular Authorization Code flow for websites with a dedicated backend (such as Express.js).
                    Both have their usecases. The PKCE flow is commonly used for SPAs,
                    <div class="description-blog-fadeout">
                    </div>
                </div>

                <a href="/documentation" class="form-button-outline" style="position: absolute; bottom: 40px; left: calc(50% - 112px); border-width: 2px; font-weight: 600; width: 200px; padding: 10px;">Check Out The Docs</a>
            </div>

            <div class="description-blog">
                <div class="description-blog-header">
                    <h4>Validating An Authivo JSON Web Token</h4>
                    <div>
                        <svg style="fill: none; stroke: var(--primary);" id="app-logo" width="15px" height="15px" viewBox="0 0 22 22">
                        <path stroke-linecap="round" stroke-width="3.5" d="M 2 11 C 2 -1 20 -1 20 11 C 20 15 18 19 15 20 M 2 11 C 2 15 4 19 7 20 M 2 11 L 20 11"></path>
                        </svg>
                        <p style="margin: 0; font-family: 'Visby Round Bold'; color: var(--nav-bar-button); font-size: 15px; margin-bottom: 2px; margin-left: 5px;">authivo</p>
                    </div>
                </div>

                <div class="description-blog-content">
                    Authivo utlizes a widespread standard known as JWTs, or JSON Web Tokens. JWTs are a way of securely transmitting information between parties. 
                    They help ensure that the data was not tampered with since it was sent.
                    In order to verify an Authivo-granted JWT
                    <div class="description-blog-fadeout"></div>
                </div>
            </div>
        </div>
    </div>
</div>