<div id="content-container">

    <div id="landing-page-container">
        <svg id="landing-page-background-container" width="1800px" height="800px" viewBox="0 0 80 60">
            <path d="M 64 0 C 62 25 51 36 5 52 C 73 39 70 17 64 0" style="stroke: var(--primary); fill: var(--primary);"></path>
            <path d="M -26 52 C -16 24 39 30 69 21 C 49 44 9 28 -26 52" style="filter: blur(0px); stroke: var(--secondary); fill: var(--secondary);"></path>
            <path d="M -10 -3 C -15 25 -11 49 5 54 C -7 37 -6 30 -10 -3" style="filter: blur(0px); stroke: var(--primary); fill: var(--primary);"></path>
        </svg>  
        <h1 id="landing-page-title">Authentication Made Easy.</h1>
        <h3 id="landing-page-subtitle">No paywalls. No tedious registration. Simple usage.</h3>
        <a id="landing-onboarding-button" href="/dashboard">Try It Today</a>
        <div id="landing-page-graphic">
            <div id="landing-page-graphic-menubar">
                <div class="landing-page-graphic-menubar-button green"></div>
                <div class="landing-page-graphic-menubar-button yellow"></div>
                <div class="landing-page-graphic-menubar-button red"></div>
            </div>

            <div id="landing-page-graphic-login">
                Login With Authivo
            </div>

            <img style="position: absolute; right: 120px; top: 123px;" width="20px" height="21px" src="../../assets/images/cursor.png">
        </div>
    </div>

    <div id="landing-page-description-container" style="display: flex; flex-direction: column; align-items: center;">
        <svg id="landing-page-description-background-container" width="1800px" height="800px" viewBox="0 0 60 60">
            <path d="M 64 0 C 42 24 -17 18 -39 6 C -1 40 70 17 64 0" style="stroke: var(--primary); fill: var(--primary);"></path>
            <path d="M -23 7 C -16 24 53 31 89 4 C 37 16 9 28 -23 7" style="filter: blur(0px); stroke: var(--secondary); fill: var(--secondary);"></path>
        </svg> 

        <h1 class="title" style="text-align: center; max-width: 800px;">Streamline Your Projects With Authivo</h1>
        <div class="divider"></div>
        <p class="subtitle" style="text-align: center; max-width: 740px; margin-top: 20px;">
            Authentication shouldn't get in the way of your dream project. Building authentication from scratch, and even trying to use other identity providers, can easily burn out both beginner and experienced coders alike. 
            Authivo streamlines this intuitive yet critical process so you can get back to creating.
        </p>
    </div>
</div>