<div id="content-container">

    <div id="landing-page-container">
        <svg id="landing-page-background-container" width="1800px" height="800px" viewBox="0 0 80 60">
            <path d="M 64 0 C 62 25 51 36 5 52 C 73 39 70 17 64 0" style="stroke: var(--primary); fill: var(--primary);"></path>
            <path d="M -26 52 C -16 24 39 30 69 21 C 49 44 9 28 -26 52" style="filter: blur(0px); stroke: var(--secondary); fill: var(--secondary);"></path>
            <path d="M -10 -3 C -15 25 -11 49 5 54 C -7 37 -6 30 -10 -3" style="filter: blur(0px); stroke: var(--primary); fill: var(--primary);"></path>
        </svg>  
        <h1 id="landing-page-title">Authentication Made Easy.</h1>
        <a id="landing-onboarding-button" href="/dashboard">Try It Today</a>
        <div id="landing-page-graphic">
            <div id="landing-page-graphic-menubar">
                <div class="landing-page-graphic-menubar-button green"></div>
                <div class="landing-page-graphic-menubar-button yellow"></div>
                <div class="landing-page-graphic-menubar-button red"></div>
            </div>

            <div id="landing-page-graphic-login">
                Login With Authivo
            </div>

            <img style="position: absolute; right: 120px; top: 123px;" width="23px" height="24px" src="../../assets/images/cursor.png">
        </div>
    </div>
</div>